{% extends "base_email.html" %}

{% block content %}
    <h2>Ваш персональный промокод!</h2>
    
    <div>
        <p>Используйте этот код при оформлении подписки:</p>
        <div>
            {{ promo_code }}
        </div>
        <p>СКИДКА {{ discount_amount }}%</p>
    </div>

    <div>
        <h3>Как использовать промокод?</h3>
        <ol>
            <li>Введите промокод на странице оформления подписки</li>
            <li>Скидка применится автоматически</li>
        </ol>
    </div>

    <p>
        Промокод действует до {{ expiry_date }}.
    </p>
{% endblock %}